#container-1{
margin-top: 0px;
height: 100px;
}

.col-4{
  background-color: white;
}
.col-8{
  background-color: white;
}
.main-h{
  padding-bottom: 260px;
}
.nav-item{
  padding-top: 20px;
  padding-bottom: 20px;
padding-left: 10px;
}
.logo{
  padding-top: 30px;
}
.col-1{
  border: 0px solid black;

  height: 80px;
  margin-top: 40px;

  background-color:#FFB26B;
  float: left;
}

#but{
  background-color:#FFB26B;
  float: right;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-top: 40px; */
}
.phone{
  color: white;
  font-weight: 1rem;
}
#drop{
  color: black;
  padding-top: 20px;
}
.item{
  color: black;
  padding-top: 20px;
  padding-left: 20px;
}
.main-h{
color: white;
font-family: 'Londrina Solid', cursive;
}
#col-61{
  height: 600px;
  background-color: #EF9A53;
}
#col-62{
  height: 600px;
  background-color: #ECA869;
}
#row1{
  margin-top: 60px;
}
#skill{
  height: 180px;

  margin: 15px;
border-radius: 5%;
  background-color: white;
}
.skill-h{
  margin-top: 60px;
  font-weight:bold;
  color: white;
  /* font-style: oblique; */
  font-family: 'Londrina Solid', cursive;
}
#skill-hl{
  float: right;
  /* margin-top: 60px; */
  margin-right: 20px;
  color: white;
  font-family: 'Londrina Solid', cursive;
}
.skill-img{
  padding: 40px;
}
.skill-hc{
  text-align: center;
  font-style: italic;
  color: #ECA869;
  font-family: 'Londrina Solid', cursive;
}
.col-61t-h{
  font-weight: bold;
  margin-top: 50px;
  padding-top: 50px;
  font-family: 'Londrina Solid', cursive;
}
#col-61t{
  width: 500px;
  background-color: white;
  margin-left: 50px;
  margin-top: 80px;
  border-radius:5%;
}
#time{
  margin: 25px;
  color:#EF9A53;
}
#btn-id{
  background-color:#EF9A53;
  color: white;
  margin-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 40%;
  margin-bottom: 4px;
}
#special-r{
  height: 500px;
  border: 0px solid black;
}
#special-rc{
  height: 300px;
  margin-top: 180px;
  background-color:#EF9A53;
  border-radius: 3%;
}
.best-img{
  height: 460px;
  margin-top:40px;
  border-radius: 4%;
}
#special-r2{
  margin-left:120px;
  margin-top: 30px;

}
#btn-id2{
  background-color:#EF9A53;
  color: white;
  margin-top: 60px;
  margin-left:100px;
}
.specialized{
  background-color: #F7F5EB;
  height:1300px;
  margin-top: 60px;
}
.specialized-h{
  text-align: center;
font-family: 'Londrina Solid', cursive;
  font-weight: bold;
}
#specialized-r{
  margin-top: 100px;
}
#specialized-c{
  height: 500px;
  background-color: white;
  border: 0px solid black;
  margin-right: 40px;
  padding-top: 40px;
}
.specialized-img{
margin-top: 40px;
padding-left:40px;
}
.specialized-ch{
padding-bottom: 40px;
text-align: center;
font-family: 'Londrina Solid', cursive;
}
.specialized-cp{
text-align:center;
padding-left: 40px;
padding-right: 40px;
}
#exclusive{
  margin-top: 40px;
}
#exclusive-c{
  height: 480px;
  margin-left: 40px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
}
.exclusive-img{
  height: 410px;
  width: 620px;
}
.exclu-p{
padding-top: 30px;
padding-bottom: 60px;
font-size: 1.2rem;
line-height: 1.5;

}
.exclu-h4{
padding-top: 40px;
font-weight: bolder;
font-family: 'Londrina Solid', cursive;
}
.exclu-h1{
font-weight: bolder;
font-family: 'Londrina Solid', cursive;
}
#gallery{
  margin-top: 60px;
}
.gallery-h{
text-align: center;
font-weight: bolder;
line-height: 0.8;
font-family: 'Londrina Solid', cursive;

}

#row-g{
  margin-top: 100px;
}
.col-3-img{
  border-radius: 5%;
  margin-top: 15px;
  margin-right: 15px;
}
.specialized-2{
  height: 650px;
  background-color:#F7F5EB;
  margin-top: 60px;
}
#member{
height: 550px;
  border: 0px solid black;
}
#member-con{
  padding-top: 80px;
}
#member-c1{
  border: 0px solid black;
  height: 550px;
  background-color: #C58940;
  border-radius: 3%;
  margin-right: 0px;

}
.member-img{
  padding-top: 60px;
  padding-left: 60px;
}
.member-h{
  color: white;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 40px;
  text-align: center;
  font-family: 'Londrina Solid', cursive;
}
.member-p{
padding-top: 20px;
text-align: center;
padding-left: 80px;
padding-right: 70px;
color: white;
font-size: 1.5;
line-height:1.2
}
#button-m{
  margin-left:180px;
  padding-top: 10px;
  /* padding-bottom: 10px; */
}
#member-c2-r{
  margin-top: 60px;
}
#member-c2-c{
  border: 0px solid black;
  margin-left: 15px;
  background-color: white;
  height: 340px;
  border-radius: 3%;


}
#member-c2-img{
margin-top: 40px;
margin-left: 40px;:
}
#member-c2-h{
font-family: 'Londrina Solid', cursive;
}
.name-h{
  color:#C58940;
  text-align: center;
}
.name-p{
text-align: center;
}
.way{
  text-align:center;
  font-family: 'Londrina Solid', cursive;
  margin-top: 60px;
  margin-bottom: 40px;
  color:#C58940;

}
#foot-1{
  background-color:#C58940;
  height: 450px;
}
#foot-2{
  background-color:#E5BA73;
    height: 450px;
}
#foot-3{
  background-color:#C58940;
    height: 450px;
}
.foot-h{
  padding-top: 60px;
  padding-left: 30px;
  color: white;
  padding-bottom: 20px;
}
.foot-l{
  padding-left: 30px;
  color: white;
  /* font-size: 1.5rem; */
  line-height: 2;
    text-shadow: 2px 2px 2px 2px #FAD3E7;
}
.foot-a{
  color: white;
  text-shadow: 2px 2px 2px 2px #FAD3E7;
}
.foot-img{
  padding-top: 60px;
  padding-left: 30px;
}
.foot-p{
  text-align: center;
  padding-top: 40PX;
  line-height: 2;
  color: white


}
